# Ignore all directories
*/

# Ignore files with .sln extension
*.sln

# Except the following directories and their contents
!/doc/**
!/include/**
!/lib/**
!/res/**
!/src/**

# Except specific files
!.md
!/x64/Release/*.dll
!/x64/Debug/*.dll