# Ignore files with .sln extension
*.sln
*.vsidx
*.ipch
*.suo
*.db
*.pdb
*.exe
# Ignore all
/FileContentIndex/**
/SDL2_GAME_KITSCH_CATCH/**


# Except the following directories and their contents
!/doc/**
!/include/**
!/lib/**
!/res/**
!/src/**

# Except specific files
!.md
!/x64/Release/*.dll
!/x64/Debug/*.dll
