# Ignore files with .sln extension
*.sln
*.vsidx
*.ipch
*.suo
*.db
*.pdb
# Ignore all
/FileContentIndex/**
/SDL2_GAME_KITSCH_CATCH/**
/.vs

# Except the following directories and their contents
!/doc/**
.vs/SDL2_GAME_KITSCH_CATCH/v17/DocumentLayout.json
.vs/SDL2_GAME_KITSCH_CATCH/v17/DocumentLayout.json
*.json
